div.pash-autocomplete-list {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  height: 7em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  z-index: 1;
  background-color: white;
  padding-right: 1em;
  display: none;
  white-space: nowrap;
}

div.pash-autocomplete-list > div.selected > span {
  color: white;
  background-color: lightblue;
}
