html, body {
  overflow: hidden;
  font-size: 12pt;
  font-family: monospace;
  background-color: white;
  color: black;
}

.wsh {
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  white-space: pre;
  margin-right: 1em;
}

.wsh-textarea {
  border-style: none;
  outline: none;
  resize: none;
  width: 0px;
  height: 0px;
  white-space:nowrap;
  position:absolute;
  z-index: -1;
}

.wsh-line {
  position: relative;
  height: 1em;
  margin: 2px;
}

.wsh-caret {
  position: absolute;
  margin: 0px;
  padding: 0px;
  bottom: 0px;
  border-width: 0px;
  border-style: none;
}

.wsh-caret:before {
  padding-bottom: 4px;
  content: "_";
}
